<h1>{{question}}</h1>
<h3>Submitted by: {{author}}</h3>
<h3>Additional information:</h3>
<p>{{description}}</p>

{{#if isEditing}}
<form>
<div class="form-group">
  <label for="question">Change Question to: </label>
  {{input id="question" class="form-control" value=question}}
</div>

<div class="form-group">
  <label for="author">Change Author to: </label>
  {{input id="author" class="form-control" value=author}}
</div>

<div class="form-group">
  <label for="description">Change Description to: </label>
  {{textarea id="description" class="form-control" rows="5" value=description}}
</div>
<button class="btn btn-primary" {{action 'save'}}>Update this Question's Information</button>
</form>

{{else}}
{{#link-to 'new-answer' this.id class="btn btn-success"}}Answer {{author}}'s Question{{/link-to}}
<button class="btn btn-primary" {{action 'edit'}}>Edit {{author}}'s Question's Information</button>
<button class="btn btn-danger" {{action 'delete'}}>Delete {{author}}'s Question</button>


<h3>Answer(s) to {{author}}'s Question:</h3>
{{#each answers as |answer|}}
    <h4>{{answer.answerer}}'s answer: {{answer.answer}}</h4>
    <p>{{#link-to 'answer' answer.id}}[click here to view/edit/delete]{{/link-to}}</p>
{{/each}}

{{/if}}


{{outlet}}
